# Assignment on Python Libraries
* ##  Try to write optimal code for each section and explain your understanding wherever required.
* ## Required Libraries are imported wherever needed.
* ##  It's suggested to do it after studying all topics to reinforce your learning. Just a reminder, this assignment can be done in 10min using A.I, which will increase your skill of chatting with chatgpt (**but nothing else**), so try to approach with a bit more purpose.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#Read the csv and store it in a dataframe named mobile_usage
* ## Identify the null values in the dataframe and print the count of null values in each column

,User_ID,Age,Gender,Total_App_Usage_Hours,Daily_Screen_Time_Hours,Number_of_Apps_Used,Social_Media_Usage_Hours,Productivity_App_Usage_Hours,Gaming_App_Usage_Hours,Location
0,1,56,Male,2.61,7.15,24,4.43,0.55,2.40,Los Angeles
1,2,46,Male,2.13,13.79,18,4.67,4.42,2.43,Chicago
2,3,32,Female,7.28,4.50,11,4.58,1.71,2.83,Houston
3,4,25,Female,1.20,6.29,21,3.18,3.42,4.58,Phoenix
4,5,38,Male,6.31,12.59,14,3.15,0.13,4.00,New York
...,...,...,...,...,...,...,...,...,...,...
995,996,41,Female,3.58,12.46,13,4.12,2.44,1.33,Los Angeles
996,997,32,Male,9.65,10.51,11,1.02,1.02,3.84,Los Angeles
997,998,46,Female,11.68,10.06,9,2.35,3.13,1.03,Phoenix
998,999,25,Male,3.89,10.78,15,4.00,1.79,1.61,Phoenix
999,1000,22,Female,3.99,7.05,4,0.90,4.98,2.33,Phoenix

#Identify Different dtypes of the columns

#Get the count of number of people of each age  in the dataset and store it in a 2-d numpy array with first element in row being age and second element number of people with that age.

#Calculate the average usage_time for different age groups and identify the age group with the highest total usage_time (screen time).
#Plot graphs of average usage_time versus age:
* ## Scatter plot
* ## Bar graph

#Sort the DataFrame by age using both Pandas and NumPy.
* ##  Remove the data of individuals above 45 years of age and  store the modified DataFrame in a new variable new_df.

# Add a New Column **location_type**
* ## Create a new column named location_type in the original DataFrame (mobile_usage).
* ## Assign integer labels to locations based on their frequency (in descending order):
 * ## The most frequent location should be labeled as 0.
 * ## The second most frequent location should be labeled as 1, and so on.
 * ## Less frequent locations will have higher integer values.
* ## Ensure that the labels are assigned based strictly on the frequency ranking of the locations.

# Normalisation
## Normalization is a process used to adjust the scale or range of data values, making them consistent and comparable across different features or datasets. It ensures that all features contribute equally to a model or analysis, especially when they have vastly different scales.

## Just understand the definition for now , in the upcoming weeks this topic will be discussed in detail.

* ### Normalize the gaming app usage hours using min-max scaling (https://en.wikipedia.org/wiki/Feature_scaling#Rescaling_(min-max_normalization)) and store it in some numpy array .
* ### Verify whether the normalisation correct or not by plotting histograms with same name number of bins(Why?Is it correct?) .
* ### (Optional) Write a function which takes argument a dataframe and returns a dataframe which have all columns in its **Normalized** by min - max scaling

## Plot the relationship between Number_of_apps_used and Daily_Screen_Time_Hours using different types of plots (e.g., scatter plot, line plot, bar graph, etc.).
* ## Analyze the plots and explain which type of plot best illustrates the relationship between these two variables

#

#Broadcasting

* ## Use multiple columns from a DataFrame to represent points in an n-dimensional space (take atleast 3 columns).
* ## Calculate the Euclidean distance between all pairs of points using:
 * ## A loop-based approach (without broadcasting).
 * ## A vectorized approach using broadcasting.
* ## Compare the results and performance of both methods.

## To compare the performances use the time module

## A sample code is given below .

In [ ]:
# import time

# # Timing the loop-based approach
# start_time = time.time()
# # (Loop-based distance calculation code here)
# end_time = time.time()
# print(f"Loop-based method took {end_time - start_time:.6f} seconds")

# # Timing the broadcasting approach
# start_time = time.time()
# # (Broadcasting-based distance calculation code here)
# end_time = time.time()
# print(f"Broadcasting method took {end_time - start_time:.6f} seconds")

In [ ]:
import time
# write your code here